body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Menyesuaikan lebar container dengan lebar layar */
    margin: auto;
  }  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  
  .logo img {
    height: 50px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 5px;
    width: 500px;
  }
  
  .search-box input[type="text"] {
    border: none;
    margin-right: 10px;
    outline: none;
    width: 100%;
  }
  
  .search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .search-box button::before {
    content: '🔍';
    font-size: 20px;
  }
  
  
  .nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .nav li:hover {
    background-color: #367c39;
  }
  
  .nav .login {
    background-color: rgba(30, 81, 40, 1);
    color: #D8E9A8;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .text-content {
    display: flex;
    align-items: center;
  }
  
  .sub-header,
  .paragraph {
    margin-left:100px;
    flex: 3;
    max-width: 55%;
  }
  
  .right-image {
    width: 40%;
    height: auto;
    margin-left: 20px;
  }
  
  .content h1 {
    margin-left: 100px;
    color: #000000;
  }
  
  .sub-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .paragraph {
    background-color: antiquewhite;
    text-align:justify;
    width: 900px;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .text-content {
    display: flex;
    align-items: center;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Membuat tinggi container sama dengan tinggi layar */
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }  
  
  .right-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: auto;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    background-color: #4E9F3D;
    padding: 10px;
  }
  
  .stats div {
    text-align: center;
  }
  
  .stats h2 {
    color: white;
    margin: 0;
  }
  
  .stats p {
    color: white;
    margin: 5px 0;
  }

  .view-all {
    display: inline-block; /* Mengubah elemen view-all menjadi inline block */
    margin-left: 900px;
  }
  
  .view-all {
    text-decoration: none;
    color: #44602B;
    font-weight: normal;
    align-self: flex-end;
  }

  .footer {
    background-color: #2B221E;
    color: white;
    text-align: center;
    padding: 30px;
    bottom: 0;
    width: auto;
  }
