  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
  }
  
  .button:first-child {
    margin-left: 0;
  }
  
  .button:last-child {
    margin-right: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 50px;
  }

  .search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 5px;
    width: 500px;
  }

  .search-box input[type="text"] {
    border: none;
    margin-right: 10px;
    outline: none;
    width: 100%;
  }

  .search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  .search-box button::before {
    content: '🔍';
    font-size: 20px;
  }

  /* Gaya tombol User */
.navbar-brand.getstarted.scrollto {
  color: black; /* Warna teks putih */
  padding: 10px 15px; /* Beri jarak pada bagian dalam tombol */
  border-radius: 5px; /* Membuat sudut sudut tombol melengkung */
}

/* Gaya tombol Logout */
.navbar-link.getstarted.scrollto {
  color: black; /* Warna teks putih */
  padding: 10px 15px; /* Beri jarak pada bagian dalam tombol */
  border-radius: 5px; /* Membuat sudut sudut tombol melengkung */
}


  .nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav li {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
  }
  .nav .login {
    font-size: 14px; 
  }
  .nav li:hover {
    background-color: #44602B;
  }

  .nav .login {
    background-color: rgba(30, 81, 40, 1);
    color: #D8E9A8;
    border-radius: 5px;
    cursor: pointer;
  }

  .container {
    margin: 81px;
    display: grid;
    justify-content: center;
  }

  .container h1{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .img-container{

    width: 1193px;
    height: 554px;
    border-radius: 8px;
    margin: 51px;
  }

  .footer {
    background-color: #2B221E;
    color: white;
    text-align: center;
    padding: 30px;
    bottom: 0;
    width: auto; 
  }

  .content {
    
    display: flex;
    width: 1167px;
    height: 60px;
    flex-direction: row;
    align-items: flex-start;
    gap: 643px;
    justify-self: center;
  }

  #product {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    li {
      width: 84px;
      text-align: center;
      margin-right: 11.5px;
      transition: border-bottom 0.3s ease; /* Add a transition for smooth animation */
      border-bottom: 2px solid transparent;
      a {
        color: #191D23;
        text-decoration: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  #product li:hover,
  #product li:active {
    border-bottom: 2px solid #191D23; /* Underline on hover */
  }
  

  #action {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-self: end;
    li {
      margin-right: 12px;
      button {
        cursor: pointer;
        display: flex;
        width: 70px;
        height: 30px;
        padding: 8px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1.5px solid rgba(0, 0, 0, 0.50);
        background-color: white;
      }

      a {
        text-decoration: none;
        color: #191D23;
        cursor: pointer;
        display: flex;
        width: 40px;
        height: 12px;
        padding: 8px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1.5px solid rgba(0, 0, 0, 0.50);
        background-color: white;
      }
    }
  }

  .data {
    margin-top: 32px;
    margin-bottom: 50px;
    padding-bottom: 100px;
    display: flex;
    width: 1167px;
    height: 247px;
    justify-self: center;
    align-items: flex-start;
    flex-shrink: 0;
    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        height: 59.333px;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #E7EAEE;
      }
    }
  }

  #tittle {
    width: 284px;
    color: #191D23;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  #text-fill {
    width: 867px;
    color: #191D23;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .footer-content {
    width: 1155px;
    margin-top: 83px;
    margin-left: 70px;
  }

  .footer-content h3{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }


  .footer-content h4 {
    color: var(--black3, #5B5B5B);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 185.714% */
  }

  #list {
    list-style-type: decimal;
    margin: 0;
    padding-left: 25px;
    ul {
      list-style-type: disc;
      padding-left: 15px;
      margin-top: -15px;
      color: var(--black3, #5B5B5B);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
    }
  }


  /* Add this animation keyframes at the end of your CSS file */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  
  animation: fadeIn 0.5s ease; /* Apply the fadeIn animation */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 24px;
  border: 1px solid #888;
  border-radius: 12px;
  width: 400px;
  height: 268px;
  animation: fadeIn 0.5s ease; /* Apply the fadeIn animation */
  button {
    width: 170px;
    height: 44px;
    border-radius: 8px;
  }
  img {
    padding-top: 10px;
  }
  h3 {
    padding-top: 0px;
    padding-bottom: 5px;
    align-self: stretch;
    color: var(--Gray-900, #101828);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
  }
  p {
    align-self: stretch;
    color: var(--Gray-500, #667085);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    padding-bottom: 20px;
  }
  #modal-close {
    border: 1px solid var(--Gray-300, #D0D5DD);
    color: #344054;
    background: var(--White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    margin-right: 12px;
    margin-left: 20px;
  }

  #modal-close:hover{
    background-color: #aeaeae;
    color: #ffff;
  }

  #modal-delete {
    background-color: #1E5128;
    color: #ffff;
  }

  #modal-delete:hover {
    background-color:#44602B ;
  }
}

/* Rest of your existing styles... */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}